<div class="container">
  <div class="img-div text-center">
 <%= image_tag "halfway_logo.png" %>
  </div>
  <div class="heading-div">
    <h1>Enter your addresses to meet halfway!</h1>
  </div>

<div class="form-div d-flex justify-content-center">
  <%= form_with url: venues_path, method: :get do |form| %>
    <%= form.text_field :address1, placeholder: "Address One"%>
    <%= form.text_field :address2, placeholder: "Address Two"%>
    <%= form.submit %>
  <% end  %>
</div>




    <div class="form-div d-flex justify-content-center">
      <form>
        <label for="Address One"></label>
        <input class="address-input" type="text" placeholder="Address One"><br><br>
        <label for="Address Two"></label>
        <input class="address-input"type="text" placeholder="Address Two"><br><br>
      </form>
    </div>

    <div class="filter-div">
      <div class="row mx-auto">
            <div class="card col-md mb-2">
            <%= image_tag "coffee.jpg" %>
                <h2>Coffee</h2>
            </div>

            <div class="card col-md mb-2">
            <%= image_tag "drinks.jpg" %>
                <h2>Drinks</h2>
            </div>

              <div class="card col-md mb-2">
              <%= image_tag "food.png" %>
                <h2>Food</h2>
            </div>

            <div class="card col-md mb-2">
            <%= image_tag "clubs.jpg" %>
                <h2>Clubs</h2>
            </div>

            <div class="card col-md mb-2">
            <%= image_tag "cinema.png" %>
                <h2>Cinemas</h2>
            </div>

            <div class="card col-md mb-2">
            <%= image_tag "parks.jpg" %>
                <h2>Parks</h2>
            </div>

      </div>
    </div>

  <div class="button-div text-center">
    <button class="button" type="button">Meet Halfway!</button>
  </div>

</div>
