<!--get the map put into a id map-->
<!--take the card product from le wagon -->
<!--within the product card need to add extra features like ratings,icons -->
<div class="mapbox-container">
  <div class="mapbox", style="width: 100%; height: 350px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="cards-container">
  <% @venues.all.each do |venue| %>
    <%= link_to venue_path(venue) do %>
    <div class="card-product">
      <img src="<%=venue.image_url%>"/>
      <div class="card-product-infos">
        <h2><%= venue.name %></h2>
        <p><i class="fas fa-map-marker-alt"></i> <%= venue.address %></p>
          <div class="d-flex justify-content-between">
          <p><%= "⭐️" * (venue.rating || 0) %></p>
          <%# <div class="icons", style="float: right;">
              <div class="d-flex justify-content-right">
                <i class="fas fa-share-square big-icon"></i>
                <i class="far fa-heart big-icon"></i>
              </div>
          </div> %>
      
       </div>
        <div class="icons">
           <div class="d-flex justify-content-right">
              <%= link_to "", "/", class: "fas fa-share-square big-icon" %>
              <%= link_to "", favourites_path(venue.id), method: :post, class: "fas fa-share-square big-icon"%>
           </div>
       </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
