
<div class="venue-container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/8b/e3/dd/soho-coffee-co.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://aquabarandgrill.co.uk/shopimages/sections/extras/restauranta-aqua-bar-grill-italian-greak-spanish.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://julietangus.com/wp-content/uploads/2017/05/AquaSpirit_4.jpg" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="https://media.gq-magazine.co.uk/photos/6113b4e21b7ed1398dea9033/master/w_1909,h_1282,c_limit/191105_THH_0122_LR_RT.jpg" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="https://static.designmynight.com/uploads/2017/08/ab_disrepute_low_res_14-optimised.jpg" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="https://images.squaremeal.co.uk/cloud/article/8811/images/best-vegan-restaurants-soho-old-compton-brasserie_05072019014245.png?w=1000" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    <%# <div class="venue-image">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/8b/e3/dd/soho-coffee-co.jpg" alt="">
    </div> %>

    <div class="venue-infos">
        <div class="venue-header float-left">
          <h2><%= @venue.name %></h2>
          <h4>London</h4>
          <i class="favourite fas fa-heart"></i>
          <hr>
        </div>
        <div class="venue-list">
            <ul>
             <li><%= image_tag "pin-icon.png", class: "icon" %><%= @venue.address %> </li>

             <li><%= image_tag "bar-icon.png", class: "icon" %><%= @venue.category.capitalize %> </li>

             <li><%= image_tag "rating-icon.png", class: "icon" %> <%= "⭐️" * @venue.rating %></li>
             

             <li><%= image_tag "pound-icon.png", class: "icon" %> <%= "£" * @venue.price_range %></li>



             <li><%= image_tag "time-icon.png", class: "icon" %>Open 9:00am - 5:00pm</li>


             <li><%= image_tag "internet-icon.png", class: "icon" %><%= @venue.website %></li>
              <li><%= image_tag "map-icon.png", class: "icon" %><a href="<%= @venue.google_maps_url %>">Open Google Maps</a></li>


            </ul>
            <div class="button-div text-center">
              <%= link_to 'Back',:back, class: "back-btn" %>
            </div>
        </div>
    </div>
</div>
