
<div class="venue-container">
    <div class="venue-image">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/8b/e3/dd/soho-coffee-co.jpg" alt="">
    </div>
    <div class="venue-infos">
        <div class="venue-header">
          <h2><%= @venue.name %></h2>
          <h4>London</h4>
          <i class="place-holder-one fas fa-id-card"></i>
          <i class="place-holder-two fas fa-id-card"></i>
          <%= image_tag "shop-open.png", :class => "shop-open" %>
          <p class="shop-open-display">Shop Open</p>
          <hr>
        </div>
        <div class="venue-list">
            <ul>
             <li><i class="fas fa-map-marker-alt"></i></i>  <%= @venue.address %> </li>
             <li><i class="fas fa-coffee"></i></i>  <%= @venue.category %> </li>
             <li>4 <%="⭐️" * @venue.rating %> </li>
             <li><i class="fas fa-clock"></i> Open 9:00am - 5:00pm</li>
             <li><i class="fas fa-id-card"></i> talktous@sohocoffee.co.uk</li>
             <li><i class="fas fa-phone-square-alt"></i>  01242 243 999</li>
            </ul>
            <%= link_to 'Back to your search', :back %>
        </div>
    </div>
</div>
